<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
</head>
<body>
<div class="container">
    <form class="form-sign-in" method="post" action="/auth/sign-in">
        <h2 class="form-sign-in-heading">Sign in</h2>
        <p>
            <label for="login">Login</label>
            <input type="text" id="login" name="login" class="form-control" placeholder="Login" required>
        </p>
        <p>
            <label for="password">Login</label>
            <input type="text" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>